/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    /* Styles */
    .outerdiv img {
        width: 150px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
    /* Styles */
    .outerdiv img {
        width: 250px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    /* Styles */
    .outerdiv img {
        width: 350px;
    }
}

@media only screen and (min-width: 769px) {
    /* Styles */
    .outerdiv img {
        width: 500px;
    }
}